<div class="centered">
<p id="notice"><%= notice %></p>

<div class="title">Name:</div>
<br>
  <%= @user.name %>
<br>

<div class="title">Email:</div>
<br>
  <%= @user.email %>
<br>
<div class="title">Password:</div>
<br>
  <%= @user.password %>
<br>


<%= link_to 'Edit', edit_user_path(@user), class: "subtitle" %> |
<%= link_to 'Back', users_path, class: "subtitle" %>
</div>
