<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="contact-text">
  <div class="field">
    <%= f.label :name, class: "subtitle" %><br>
    <%= f.text_field :name, class: "contact-title" %>
  </div>
  <div class="field">
    <%= f.label :phone, class: "subtitle" %><br>
    <%= f.text_field :phone, class: "contact-phone" %>
  </div>
  <div class="field">
    <%= f.label :email, class: "subtitle" %><br><br>
    <%= f.text_field :email, class: "contact-email" %>
  </div>
  <div class="field">
    <%= f.label :address, class: "subtitle" %><br>
    <%= f.text_field :address, class: "contact-address" %>
  </div>
  <div class="field">
    <%= f.label :city, class: "subtitle" %><br>
    <%= f.text_field :city, class: "contact-city" %>
  </div>
  <div class="field">
    <%= f.label :country, class: "subtitle" %><br>
    <%= f.text_field :country, class: "contact-country" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
