<div class="centered">
<div class="title">Listing contacts</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.address %></td>
        <td><%= contact.city %></td>
        <td><%= contact.country %></td>
        <td><%= link_to 'Show', contact, class: "subtitle show" %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact), class: "subtitle edit" %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "subtitle destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path, class: "subtitle" %>
</div>