<div class="row-centered">
<div class="contact-text col-md-4 col-centered">
<div class="contact-title">
  <%= @contact.name %>
</div>
<div class="contact-phone">
  <%= @contact.phone %>
</div>
<div class="contact-email">
  <%= @contact.email %>
</div>
<div class="contact-address">
  <%= @contact.address %><br />
  <%= @contact.city %><br />
  <%= @contact.country %>
</div>
</div>
</div>
