<div class="centered">
<div class="title">Listing abouts</div>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @abouts.each do |about| %>
      <tr>
        <td><%= about.message %></td>
        <td><%= link_to 'Show', about, class: "subtitle show" %></td>
        <td><%= link_to 'Edit', edit_about_path(about), class: "subtitle edit" %></td>
        <td><%= link_to 'Destroy', about, method: :delete, data: { confirm: 'Are you sure?' }, class: "subtitle destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New About', new_about_path, class: "subtitle" %>
</div>
