<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @about.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @about.user_id %>
</p>

<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
